body {
  font-family: sans-serif;
  font-weight: 300;
  font-color: black;
}

body /deep/ core-toolbar {
  background-color: #329ebf;
}

#menuhead{
  background-color: #EEEEEE;
}

core-header-panel {
  background-color: #EEEEEE;
}

.content {
  padding: 20px;
}
